* {
    margin: 0;
    padding: 0;
}

:root {
    --col-palegreen: #8FCB9B;
    --col-seagreen: #087E8B;
    --col-mauve: #E2C2FF;
    --col-purple: #37123C;
    --col-yellow: #F9C80E;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    width: 100%;
}

#top-bar {
    color: var(--col-purple);
    background-color: var(--col-seagreen);
    width: 100%;
    position: fixed;
    top: 15px;
    display: grid;
    grid-template-columns: 300px 1fr;
    border-bottom: solid;
    border-top: solid;
    border-color: var(--col-purple);
    border-width: 2px;
    opacity: 80%;
    z-index: -50;
}

#menu, #logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    height: 80px;
    line-height: 80px;
}

#logo {
    margin-left: 30px;
    justify-content: flex-start;
}

.items-design {
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
    height: 50px;
    line-height: 50px;
    margin: auto 10px;
    padding: 0 20px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}

.menu-item {
    background-color: var(--col-mauve);
}

.menu-item:hover {
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
    transform: scale(0.95);
}

.logo-item   {
    background-color: var(--col-palegreen);
    position: absolute;
    top: -10px;
    height: 100px;
    border-radius: 0 0 15px 15px;
}

#logo {
    background-color: var(--col-skyblue);
}

#content {

}

#banner {
    position: relative;
    top: 26vh;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: calc(20px + 3vw);
    font-weight: bold;
    font-variant: small-caps;
    line-height: 140%;
    text-shadow: 2px 2px 0px #FFFFFF;
    color: var(--col-purple);
}

#background {
    width: 100%;
    height: 1080px;
    background-image: url(images/whitepark-bay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -100;;
}

#walks-content {
    height: 100vh;
}