* {
    margin: 0;
    padding: 0;
}

:root {
    --col-palegreen: #c6adcf;
    --col-seagreen: #087e8b;
    --col-mauve: #6100c2;
    --col-purple: #37123c;
    --col-yellow: #fff8dd;
    --bord-walks: 50px;
}

body {
    font-family: "Trebuchet MS", Arial, sans-serif;
	width: 100%;
	background-color: black;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
}

.items-design {
    height: 50px;
    line-height: 50px;
    margin: auto 10px;
    padding: 0 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--col-purple);
    color: var(--col-purple);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--col-mauve);
}

#hero-page {
    display: flex;
	justify-content: center;
	margin: 0 3px 0 3px;
}

#banner {
    position: absolute;
    top: 30vh;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: calc(4em + 1vw);
    font-weight: bold;
    font-variant: small-caps;
    line-height: 140%;
    text-shadow: 4px 4px 0px rgba(1, 1, 1, 1);
    color: white;
}

.menu {
    position: absolute;
    right: 60px;
    top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 80px;
    line-height: 80px;
    z-index: 200;
}

.menu-item {
    font-size: 2.5rem;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0 0 0 60px;
    color: white;
    text-shadow: 1.5px 1.5px 0px rgba(1, 1, 1, 1);
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    font-variant: small-caps;
    position: absolute;
    left: 60px;
    top: 1vh;
    height: 80px;
    line-height: 80px;
    color: white;
    text-shadow: 1.5px 1.5px 0px rgba(1, 1, 1, 1);
}

#hero-background {
    width: 100%;
    height: 100vh;
    background-image: url(images/whitepark-bay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
	z-index: -100;
	border-radius: 0 0 80px 80px;
	margin-bottom: 2px;
}

.dark-background {
    width: 100%;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 33%, rgba(0, 0, 0, 0.2) 66%, rgba(0, 0, 0, 0) 100%);
}

#walks-page {
	position: relative;
	border-radius: 70px 70px 0 0;
    background-color: var(--col-palegreen);
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/
    padding-top: 95px;
	min-height: 100vh;
	margin: 0 3px 0 3px;
}

#walks-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-top: solid;
	border-top-width: 3px;
	padding-top: 40px;
}

.walk-selector {
	margin: 0 20px 0 20px;
	display: grid;
	width: 250px;
	height: 250px;
}

.walk-selector-title {
	height: 30px;
	text-align: center;
}

.walk-selector>img {
	width: 200;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.walk-description {
    border-style: solid;
    border-radius: 20px;
    padding: 25px;
    margin: 0 var(--bord-walks) 0 var(--bord-walks);
    background-color: var(--col-yellow);
}

.walk-images {
    display: flex;
    flex-direction: column;
    margin: 0 var(--bord-walks) 0 0;
}

.hide-element {
	display: none;
}

.one-image {
	position: relative;
    width: 300px;
    height: 200px;
    margin: 0 0 30px 0;
}

.one-image>img {
	position: absolute;
	border-style: solid;
    border-radius: 20px;
}

.overlay-text {
	position: absolute;
	top: 10px;
	left: 15px;
	color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 3px;
	text-shadow: 1.2px 1.2px 0px rgba(1, 1, 1, 1);
}

h2, h3, p {
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1.1rem;
}

#about-content {
    height: 100vh;
    background-color: var(--col-palegreen);
}